@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a,img{margin:0; padding:0; box-sizing:border-box; position:relative;}
h1,h2,h3,h4,h5,h6{font-style:normal; font-stretch:normal; letter-spacing:normal;}
body{text-size-adjust:100%; -moz-text-size-adjust:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body{-moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
a, a:hover, a:focus{text-decoration:none; color:inherit; cursor:pointer;}
ul{list-style-type: none;}

html{background-color:#ffffff; color:#323136;}
html{font-family:'Muli', sans-serif; font-size:16px; font-weight:600; line-height:1.44; font-style:normal; font-stretch:normal; letter-spacing:normal;}
body{overflow-x:hidden;}
.clear{width:0; height:0; clear:both;}
